#collapseTrigger {
    color: #fff;
    display: block;
    text-decoration: none;
}

#submitButton {
    white-space: normal;
}

#PreliminaryBody {
    height: 350px;
}

#ClosingBody {
    height: 420px;
}

#instructionBody table {
    font-size: 14px;
    margin-top: 10px;
}

#instructionBody table caption {
    text-align: left;
    padding: 0 0 5px 0;
}

#taskBody table {
    font-size: 14px;
    margin-top: 10px;
}

#taskBody table caption {
    text-align: left;
    padding: 0 0 5px 0;
}

#choice {
    display: block;
    margin-top: 10px;
}

#custom-scroll {
    height: 500px;
    overflow-y: scroll;
}

.content {
    margin-bottom: 15px;
}

.question {
    margin-left: 15px;
    padding-left: 10px;
    border-left: double;
}

.radio:first-of-type {
    margin-top: -5px;
}

.ann {
    font-size: 20px;
}

.disp {
    font-size: 20px;
}

.ann>span.token {
    cursor: pointer;
}

.ann>span.token:hover {
    text-decoration: underline;
}

.ann>strong.annotation:hover {
    text-decoration: line-through;
}

.annotation {
    font-weight: normal;
    background-color: #EAD379;
}

.btn-ann {
    font-size: 10px;
}

input[disabled] {
    color: #000
}

#key-name {
    background-color: #EAD379;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.panel-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align the radio group */
}

.content {
    display: flex;
    align-items: flex-start;
    /* Align items to the start of the container */
    width: 100%;
    /* Ensure the content div takes the full width */
}

.content img {
    max-width: 60%;
    /* Adjust as needed */
    height: auto;
}

.text {
    padding-left: 20px;
    /* Space between image and text */
    max-width: 40%;
    /* Adjust as needed */
}

.crowd-form-container {
    width: 100%;
    text-align: center;
    /* Center align the form contents */
}