#collapseTrigger {
    color: #fff;
    display: block;
    text-decoration: none;
}

#submitButton {
    white-space: normal;
}

#PreliminaryBody {
    height: 350px;
}

#ClosingBody {
    height: 420px;
}

#instructionBody table {
    font-size: 14px;
    margin-top: 10px;
}

#instructionBody table caption {
    text-align: left;
    padding: 0 0 5px 0;
}

#taskBody table {
    font-size: 14px;
    margin-top: 10px;
}

#taskBody table caption {
    text-align: left;
    padding: 0 0 5px 0;
}

#choice {
    display: block;
    margin-top: 10px;
}

#custom-scroll {
    height: 500px;
    overflow-y: scroll;
}

.content {
    margin-bottom: 15px;
}

.question {
    margin-left: 15px;
    padding-left: 10px;
    border-left: double;
}

.radio:first-of-type {
    margin-top: -5px;
}

.ann {
    font-size: 20px;
}

.disp {
    font-size: 20px;
}

.ann>span.token {
    cursor: pointer;
}

.ann>span.token:hover {
    text-decoration: underline;
}

.ann>strong.annotation:hover {
    text-decoration: line-through;
}

.annotation {
    font-weight: normal;
    background-color: #EAD379;
}

.btn-ann {
    font-size: 10px;
}

input[disabled] {
    color: #000
}

#key-name {
    background-color: #EAD379;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Style for the message container */
.message-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    display: none;
    /* Initially hide the message container */
    z-index: 9999;
    /* Ensure the message appears above everything else */
}

/* Style for the message */
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3f51b5;
    /* Blue background */
    color: white;
    /* White text color */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
}

/* Style for the question container */
.question-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6fb5ee;
    /* Blue background */
    color: white;
    display: none;
    /* White text color */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Style for the question */
.question {
    margin-bottom: 20px;
}

/* h3 {
    margin-top: 0;
}

crowd-card {
    width: 100%;
}

.card {
    margin: 10px;
}

.left {
    width: 70%;
    margin-right: 10px;
    display: inline-block;
    height: 200px;
}

.right {
    width: 20%;
    height: 200px;
    display: inline-block;
} */